<div class="outer">
  <h1 class="form__header">予定を編集する</h1>

  <%= render 'form', event: @event %>

  <div class="edit__link">
    <%= link_to '予定にもどる', @event %> |
    <%= link_to 'トップページにもどる', events_path %>
  </div>
</div>
