<div class="new__and__edit__outer">
  <h1 class="form__header">予定を編集する</h1>

  <%= render 'form', event: @event %>

  <div class="edit__link">
    <%= link_to '予定にもどる', @event, class: "edit__link__text-1" %> |
    <%= link_to 'トップページにもどる', events_path, class: "edit__link__text-2"%>
  </div>
</div>
