<div class="outer">
  <h1 class="form__header">新しい予定をいれる</h1>

  <%= render 'form', event: @event %>

  <div class="new__link">
    <%= link_to 'トップページにもどる', events_path, class: 'new__link__text' %>
  </div>
</div>