.form__header {
  width: 50%;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
  text-align: center;
  background-color: #f8fae3;
}

.input-form {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  .field {
    margin-top: 16px;
    .label {
      font-size: 16px;
    }
    #event_name {
      width: 250px;
    }
    #event_title {
      width: 250px;
    }
    #event_description {
      width: 250px;
      height: 100px;
    }
  }
}

.new__link {
  width: 50%;
  margin: 0 auto;
}

.edit__link {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}