
.outer {
  margin: -33px;
  background-color: #f8fae3;
  .header__outer {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    .header-show {
      font-size: 35px;
      height: 50px;
      line-height: 50px;
      padding: 30px 0 30px 0;
    }
  }
  .content {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    .title {
      height: 40px;
      line-height: 40px;
      font-size: 25px;
    }
    .title__content {
      height: 100%;
      line-height: 100%;
      margin-top: 15px;
      font-size: 18px;
    }
    .detail {
      height: 40px;
      line-height: 40px;
      font-size: 25px;
    }
    .detail__content {
      height: 100%;
      line-height: 100%;
      margin-top: 15px;
      font-size: 18px;
    }
    .start {
      height: 40px;
      line-height: 40px;
      font-size: 25px;
    }
    .start__content {
      height: 100%;
      line-height: 100%;
      margin-top: 15px;
      font-size: 18px;
    }
    .end {
      height: 40px;
      line-height: 40px;
      font-size: 25px;
    }
    .end__content {
      height: 100%;
      line-height: 100%;
      margin-top: 15px;
      font-size: 18px;
    }
  }
  .link {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    background-color: #f8fae3;
    padding-top: 30px;
    &__top {
      margin: 16px 0 16px 0;
    }
  }
  .comment__form {
    width: 50%;
    margin: 0 auto;
    .comment__label {
      font-size: 16px;
    }
    #comment_text {
      width: 510px;
      height: 25px;
    }
    .form__button {
      display: block;
      margin: 0 0 0 auto;
      margin-top: 5px;
      cursor: pointer;
    }
  }
  .comments__list {
    width: 50%;
    margin: 0 auto;
    font-size: 16px;
    padding-bottom: 20px;
    .comment__text {
      font-size: 16px;
    }
  }
}

.style__line {
  border-top-color: #cfcece;
  border-top-style: solid;
  border-bottom: 0 solid;
  width: 350px;
}